@model List<CounslingViewModel>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="pe-7s-box1"></i>
        </div>
        <div class="header-title">
            <h1>Counselling</h1>
            <small>Counselling List</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="~/Home/Index"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <a class="btn btn-success" href="~/Counsling/AddCounsling">
                                <i class="fa fa-plus"></i> Add Counselling
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Picture</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            string profile = @item.ProfilePic != null ? "../Counsling/@item.ProfilePic" : "../assets/dist/img/avatar5.png";
                                            <tr>
                                                <td>
                                                    <label>@i</label>
                                                </td>
                                                <td><img src="@profile" class="img-circle" alt="Counsling Image" height="50" width="50"></td>
                                                <td>@item.ApplicationUser!.FirstName&nbsp;@item.ApplicationUser.LastName</td>
                                                <td>@item.ApplicationUser.Email</td>
                                                <td>@item.ApplicationUser.PhoneNumber</td>
                                                <td>
                                                    @*<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#ordine">
                                            <i class="fa fa-pencil"></i>
                                            </button>*@
                                                    <button type="button" class="btn btn-danger btn-xs" id="btndelete" onclick="DeleteCounsling(@item.Id)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> <!-- /.content -->
    <div id="ordine" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Update table</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="table.html"> <i class="fa fa-list"></i>  Doctor List </a>
                            </div>
                        </div>
                        <div class="panel-body">

                            <form class="col-sm-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="Enter First Name" required>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Enter last Name" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Enter password" required>
                                </div>
                                <div class="form-group">
                                    <label>Designation</label>
                                    <input type="text" class="form-control" placeholder="Enter Designation" required>
                                </div>

                                <div class="form-group">
                                    <label>Department</label>
                                    <select class="form-control" name="select" size="1">
                                        <option selected class="test">Neurology</option>
                                        <option>Gynaecology</option>
                                        <option>Microbiology</option>
                                        <option>Pharmacy</option>
                                        <option>Neonatal</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="3" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="number" class="form-control" placeholder="Enter Phone number" required>
                                </div>
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="number" class="form-control" placeholder="Enter Mobile" required>
                                </div>

                                <div class="form-group">
                                    <label>Picture upload</label>
                                    <input type="file" name="picture" id="picture">
                                    <input type="hidden" name="old_picture">
                                </div>

                                <div class="form-group">
                                    <label>Short Biography</label>
                                    <textarea id="some-textarea" class="form-control" rows="6" placeholder="Enter text ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Specialist</label>
                                    <input type="text" class="form-control" placeholder="Specialist" required>
                                </div>
                                <div class="form-group">
                                    <label>Date of Birth</label>
                                    <input name="date_of_birth" class="datepicker form-control hasDatepicker" type="text" placeholder="Date of Birth">
                                </div>
                                <div class="form-group">
                                    <label>Blood group</label>
                                    <select class="form-control">
                                        <option>A+</option>
                                        <option>AB+</option>
                                        <option>O+</option>
                                        <option>AB-</option>
                                        <option>B+</option>
                                        <option>A-</option>
                                        <option>B-</option>
                                        <option>O-</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Sex</label><br>
                                    <label class="radio-inline">
                                        <input type="radio" name="sex" value="1" checked="checked">Male
                                    </label>
                                    <label class="radio-inline"><input type="radio" name="sex" value="0">Female</label>

                                </div>
                                <div class="form-check">
                                    <label>Status</label><br>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="1" checked="checked">Active
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="0">Inctive
                                    </label>
                                </div>

                                <div class="reset button">
                                    <a href="#" class="btn btn-primary">Reset</a>
                                    <a href="#" class="btn btn-success">Save</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    function DeleteCounsling(Id) {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#00B4B4',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result) {
                $.ajax({
                    type: 'DELETE',
                    url: '/Counsling/DeleteCounseling',
                    data: { Id: Id },
                    datatype: "json",
                    success: function (data) {
                        if (data.status == true) {
                        swal({
                            title: "Counsellor Deleted",
                            type: "success",
                            text: data.message,
                            confirmButtonColor: "#00B4B4",
                        });
                        window.location.href = "/Counsling/Index";
                        }
                        else{
                            swal({
                                title: "Failed to Delete",
                                type: "error",
                                text: data.message,
                                confirmButtonColor: "#00B4B4",
                            });
                        }
                    },
                    error: function (data) {
                        swal({
                            title: "Failed to Delete",
                            type: "error",
                            text: data.message,
                            confirmButtonColor: "#00B4B4",
                        });

                    }
                });
            }
        });

    }
</script>